.panel{
    border:1px solid gray;
    padding:9px;
    margin:10px 0px 0px 0px;

}
img {
    max-width: 200px;
    width:fit-content;
    height:150px;
}

h4,h1,p{
    color: gray;
}

.showroom h3{
    display: inline;
}

p {
    margin:0px;
    padding:0px;
}
